{% extends 'base.html' %}
{% block content %}

<!-- BREADCRUMB WIDGET -->
<nav aria-label="breadcrumb" class="breadcrumbs">
    <ol class="uk-breadcrumb" >
        <li><a href="{{ url_for('get_categories') }}">Categories</a></li>
        <li class="uk-active"><a href="#main" aria-current="page">new category</a></li>
    </ol>
</nav>

<main id="main">

<h1>New Category</h1>

<form id="category-form"
    class="uk-form uk-form-stacked" data-uk-margin
    action="{{ url_for('create_category') }}"
    method="POST">

    <fieldset class="uk-form-row">

        <label class="uk-form-label" for="name">Name</label>

        <input class="{{ 'uk-form-danger' if name_error else '' }}"
            data-autofocus
            type="text" size="30" id="name" name="name"
            maxlength="80" minlength="2" required aria-required="true"
            placeholder="category name" value="{{ name or '' }}">

        <div id="name-error" data-error-for="name"
            class="validation-error uk-text-danger invisible"></div>

        <div class="uk-text-danger">
            {% if name_error %}
            {{ name_error }}
            {% endif %}
        </div>

    </fieldset>

    <fieldset class="uk-form-row">

        <button class="uk-button uk-button-primary" type='submit' >
            <i class="fa fa-plus" aria-hidden="true"></i>
            create <span class="sr-only"> new category</span>
        </button>

        <a class="uk-button uk-button-mini"
            href="{{ url_for('get_categories') }}">
            cancel
        </a>

    </fieldset>

</form>

</main>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/app/categoryformviewmodel.js') }}"></script>
{% endblock %}
