{% extends 'base.html' %} 
{% block content %}

<!-- BREADCRUMB WIDGET -->
<nav aria-label="breadcrumb" class="breadcrumbs">
    <ol class="uk-breadcrumb" >
        <li class="uk-active"><a href="#main" aria-current="page">Categories</a></li>
    </ol>
</nav>

<main id="main">
   
<h1>Categories</h1>

<!-- CATEGORY TOOLBAR -->
{% if authenticated %}
<div class="">
    <a class="btn uk-button" href="{{ url_for('create_category') }}">
        <i class="fa fa-plus"aria-hidden="true"></i>
        <span class="">New Category</span>
    </a>
</div>
{% endif %}

<!-- CATEGORY LIST -->
<ul class="uk-grid uk-grid-small">
    {% for category in categories %}
    <li itemscope itemtype="http://schema.org/Product" 
        class="uk-width-large-1-3 uk-width-medium-1-2 uk-width-small-1-1">
       
        <div class="uk-panel uk-panel-hover uk-panel-space">

            <h2 itemprop="category" 
                class="user-content uk-panel-title">
                <a href="{{ url_for('get_category_by_id', category_id=category.id) }}">
                    {{category.name}}
                </a>
            </h2>

        </div>

    </li>
    {% endfor %}
</ul>
    
</main>

{% endblock %}