{% extends 'base.html' %} 
{% block content %}

<!-- BREADCRUMB WIDGET -->
<nav aria-label="breadcrumb" class="breadcrumbs">
    <ol class="uk-breadcrumb" >
        <li><a href="{{ url_for('get_categories') }}">Categories</a></li>
        <li><a href="{{ url_for('get_category_by_id',category_id=category.id) }}">{{category.name}}</a></li>
        <li><a href="{{ url_for('get_item_by_id', category_id=category.id, item_id=item.id) }}">{{item.title}}</a></li>
        <li class="uk-active"><a href="#main" aria-current="page">delete item</a></li>
    </ol>
</nav>

<main id="main">
   
<h1>Delete {{ item.title }}</h1>

<p>Are you sure you want to delete item <strong>{{item.title}}</strong>?</p>

<form class="uk-form uk-form-stacked" data-uk-margin
    action="{{ url_for('delete_item_by_id', category_id=item.category_id, item_id=item.id)}}" 
    method='POST'>

    <fieldset class="uk-form-row">
        
        <button class="uk-button uk-button-primary uk-button-danger" type='submit' >
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            delete <span class="sr-only"> item {{ item.title }}</span>
        </button>
        
        <a class="uk-button uk-button-mini" 
            href="{{ url_for('get_item_by_id', category_id=category.id, item_id=item.id) }}">
            cancel
        </a>

    </fieldset>

</form>
    
</main>

{% endblock %}

