{% extends 'base.html' %} {% block content %}

<!-- BREADCRUMB WIDGET -->
<nav aria-label="breadcrumb" class="breadcrumbs">
    <ol class="uk-breadcrumb" >
        <li><a href="{{ url_for('get_categories') }}">Categories</a></li>
        <li><a href="{{ url_for('get_category_by_id',category_id=category.id) }}">{{category.name}}</a></li>
        <li class="uk-active"><a href="#main" aria-current="page">{{item.title}}</a></li>
    </ol>
</nav>

<main id="main">

<!-- ITEM PROPERTIES -->
<div itemscope itemtype="http://schema.org/Product">

    <meta itemprop="category" content="{{category.name}}" />

    <h1 itemprop="name" class="user-content">
        {{item.title}}
    </h1>

    <p itemprop="description" class="user-content">
        {{item.description}}
    </p>

</div>

<!-- ITEM TOOLBAR -->
{% if authenticated and (can.update or can.delete) %}
{% if can.update and can.delete %}
<div class="uk-button-group">
{% else %}
<div class="">
{% endif %}

    {% if can.update %}
    <!-- EDIT ITEM -->
    <a class="btn uk-button" 
        href="{{ url_for('update_item_by_id', category_id=category_id, item_id=item.id) }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        edit <span class="sr-only"> item {{ item.title }}</span>
    </a>
    {% endif %}

    {% if can.delete %}
    <!-- DELETE ITEM -->
    <a class="btn uk-button" 
        href="{{ url_for('delete_item_by_id', category_id=category_id, item_id=item.id) }}">
        <i class="fa fa-trash-o"aria-hidden="true"></i>
        delete <span class="sr-only"> item {{ item.title }}</span>
    </a>
    {% endif %}

</div>
{% endif %}
    
</main>

{% endblock %}
